/* Margin and padding of the webPage created */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: #000000;
  color: #fff;
}

/**************************************/

/* Customized scrollbar */

/* set the width of the scroll bar. */
::-webkit-scrollbar {
  width: 10px;
}

/* set the background color and border-radius of the scrollbar track  */
body::-webkit-scrollbar-track {
  background: #bcdeff;
  border-radius: 1000px;
}

/* set the backcolor of the scrollbar thumb.*/
body::-webkit-scrollbar-thumb {
  background: #1e90ff;
  border-radius: 100px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #1b82e6;
}

/**************************************/

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  /* background: #aaa; */
  line-height: 1;
  overflow-x: hidden;
  scrollbar-width: 5px;
}

/* Hamburger button */

.hamBurger {
  height: 5rem;
  width: 5rem;
  background: #ffffff59;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.9rem;
  overflow: hidden;
  box-shadow: inset 0 0 0 2px #1e90ff;
  transition: all 0.4s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.hamBurger div {
  border-radius: 100px;
}

.hamBurger:hover .top,
.hamBurger:hover .middle,
.hamBurger:hover .bottom {
  background: red;
}

.hamBurger:hover {
  transition-delay: 0.3s;
  box-shadow: inset 0 0 0 2px red;
}
.top,
.middle,
.bottom {
  height: 2px;
  width: 80%;
  background: #1e90ff;
  transition: all 0.3s;
}

.top {
  transform-origin: top left;
}
.top,
.bottom {
  transition-delay: 0.3s;
}
.bottom {
  transform-origin: bottom left;
}

.hamBurger:hover .middle {
  transform: translateX(120%);
}

.hamBurger:hover .top {
  transform: translate(7.5px, -2.5px) rotate(45deg);
}
.hamBurger:hover .bottom {
  transform: translate(7.5px, 2.5px) rotate(-45deg);
}

.hero-container,
#about {
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0 auto;
  padding: 4.8rem 3.2rem;
  gap: 9.6em;
}

.hero-img {
  width: 100%;
}

/* day 85 */

.hero-heading {
  font-size: 4.8rem;
  /* white-space: nowrap; */
  margin-bottom: 3.4rem;
  /* text-align: center; */
  line-height: 1.4;
  color: #333;
  letter-spacing: -1px;
}

.hero-description,
.about-details {
  font-size: 2.2rem;
  /* text-align: center; */
  line-height: 1.4;
  margin-bottom: 4.8rem;
  color: #333;
}
/* 
Link
Visited
Hover
Active
==> (LVHA) 
*/
/* Creating the hosting link for hire me etc , to set its size, color, paddings and all */
.hero-btn:link,
.hero-btn:visited {
  display: inline-block;
  font-size: 2.4rem;
  padding: 1.2rem 2.4rem;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 6px;
  letter-spacing: 1px;
  transition: all 0.3s;
  transform: translateY(0);
  font-weight: 500;
}

.hire-me-btn:link,
.hire-me-btn:visited {
  background: #1e90ff;
  color: #fff;
  margin-right: 2.4rem;
}
.hire-me-btn:hover {
  background: #1b82e6;
  transform: translateY(5px);
}
.About-me-btn:link,
.About-me-btn:visited {
  color: #1e90ff;
  /* border: 2px solid red; 
  Does not work as expected.
  */
  box-shadow: inset 0 0 0 3px #1e90ff;
}

.About-me-btn:hover {
  color: #1b82e6;
  transform: translateY(5px);
  box-shadow: inset 0 0 0 3px #1b82e6;
}

.client-faces {
  display: flex;
  /* flex-direction: column  ; */
  margin-top: 4.8rem;
  align-items: center;
}

.flex-for-queries {
  display: flex;
}
.client-faces img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-right: -10px;
  border: 2px solid #1e90ff;
}

.client-faces p {
  font-size: 2rem;
  margin-left: 2rem;
  font-weight: 500;
}
.client-faces p span {
  font-weight: bold;
}

/* day 87 
Implement header section
set size of the HERO images as the size of text content of the HERO section.
Set the required space from top of the HERO section.
*/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 2.4rem;
}
/* Logo width and the cursor setting */
a .logo {
  width: 5.6rem;
  cursor: pointer;
}

.hero-nav-link-box {
  display: flex;
  gap: 3.2rem;
  /* background: red; */
}
.hero-nav-link-box li {
  list-style: none;
  border-radius: 6px;
  transform: translateY(0);
  transition: all 0.3s;
}
.hero-nav-link-box li a:link,
.hero-nav-link-box li a:visited {
  text-decoration: none;
  display: inline-block;
  padding: 1.2rem 2.4rem;
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize;
  color: #1e90ff;
}

.hero-nav-link-box li:hover {
  box-shadow: inset 0 0 0 3px #1e90ff;
  transform: translateY(5px);
}

/* project section design */

.project-grid-box {
  /* background: red; */
  margin: 0 auto;
  padding: 3.2rem;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 4.8rem;
  max-width: 130rem;
  /* autofit fits to its column, or 
  minimum width of the column = 300px
  maximum width of the column = 1fr
  maximum - width: 100%; 
   130rem === 1300px 
   maximum width of the container! */
}
.project-heading,
.about-heading {
  color: #333;
  text-align: center;
  font-size: 4.8rem;
  padding: 2.4rem 0;
}
.project {
  background: #1e90ff;
  width: 32rem;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}
.project:hover,
.img-wrapper img:hover {
  transform: scale(1.02);
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.4);
}
.project span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.3), #1e8fffcb);
  color: #000000;
  font-size: 2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
  transform: translateY(-100%);
  transition: all 0.5s ease-out;
  transition-delay: 0.3s;
}
.project span i {
  font-size: 5.2rem;
  color: #ffffff;
  transition: all 0.3s;
}
.project span i:hover {
  color: #000000;
}
.project:hover span {
  transform: translateY(0);
}

.project-img-box {
  text-decoration: none;
  display: inline-block;
}
.project-img-box h2 {
  text-align: center;
  padding: 1.5rem 0;
  color: #fff;
  font-size: 2.8rem;
}
.project-img-box img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem 1rem 0 0;
}

/*----------About section styling starts------------*/

#about {
  /*Check hero section styling for about section container styling*/
}

.about-heading {
  text-align: center;
  grid-column: span 2;
  margin-bottom: 0;
}

.img-wrapper img {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
  position: relative;
  border-right: 10px solid #1e90ff;
  border-bottom: 10px solid #1e90ff;
}

.about-details {
  font-size: 1.8rem;
  text-align: justify;
}

#about span {
  color: #1e90ff;
  font-weight: 600;
}
/*About section styling ends*/
/* -----footer section styling begins----- */
.footer-section {
  height: 64vh;
  width: 100%;
  padding-top: 10vh;
  background-color: #333;
  text-align: center;
}
.footer-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 86px;
  background-color: #333;
}

.footer-heading {
  font-size: 4.2rem;
  color: #fff;
}

.footer-author {
  background-color: #333;
  font-size: 2.4rem;
  color: #fff;
  text-align: center;
  padding-top: 10vh;
}

.footer-link-box {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.link {
  list-style: none;
  /* changed the color of icons to white  */
  filter: brightness(0) invert(1);
  border: 3px solid #fff;
  transition: all 0.5s;
  height: 70px;
  width: 70px;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.link::before {
  content: "";
  position: absolute;
  height: 75%;
  width: 75%;
  background: transparent;
  /* background: #000; */
  border: 3px dotted #fff;
  border-radius: 50%;
  z-index: -2;
  animation: rotate 7s linear infinite;
  opacity: 0;
  transition: all 0.4s;
}

.link:hover::before {
  opacity: 1;
  border: 3px dotted #1e90ff;
}
.link a {
  color: #333;
}
.link,
.fab {
  transition: all 0.4s;
}
.link .fab {
  /* color: #f7f7f7; */
  font-size: 36px;
}

.link:hover {
  transform: translateY(-1.5rem);
}
.link:hover .fab {
  color: #1e90ff;
}
.link:hover {
  border: 3px solid #1e90ff;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ----footer section ends here---- */

/*BACK TO TOP*/
.back-to-top{
  text-decoration: none;
  color:#1e90ff;
  position:fixed;
  bottom:20px;
  right:20px;
}

.back-to-top button{
  display:flex;
  flex-direction: column;
  align-items: center;
  color:#1e90ff;
  border:0;
  background-color: unset;
  font-size: 1.3rem;
  font-weight:800 ;
 
}

.back-to-top button svg{
  width:2rem;
  background-color: black;
  background-color:#1e90ff ;
  padding:10px;
  width:40px;
  height:40px;
  border-radius: 50%;
  fill:white;
  margin-bottom: .4rem;
}

.back-to-top button svg:hover{
  transform:scale(1.1); 
}

@media (max-width: 68.5rem) {
  /* body {
    background: red;
  } */

  .hero-heading,
  .about-heading {
    font-size: 3.6rem;
  }

  .client-faces p {
    font-size: 1.6rem;
    margin-left: 0;
  }

  .client-faces {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2rem;
  }
}

/* 53rem = 848px */

@media (max-width: 53rem) {
  /* body {
    background: green;
  } */

  .hero-container {
    grid-template-columns: 1fr;
    gap: 8rem;
  }

  #about {
    display: block;
  }

  .about-heading {
    padding-bottom: 5rem;
  }

  .img-wrapper {
    display: grid;
    justify-items: center;
  }

  .img-wrapper img {
    width: 80%;
    margin-bottom: 5rem;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .client-faces {
    flex-direction: row;
    align-items: center;
    gap: 1.8rem;
  }

  .client-faces p {
    font-size: 2rem;
  }

  .hero-nav-link-box {
    display: none;
  }

  .hamBurger {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .link {
    height: 60px;
    width: 60px;
  }
  .link .fab {
    font-size: 30px;
  }
}

/* day 95 */
@media (max-width: 31rem) {
  /* body {
    background: red;
  } */

  .client-faces {
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
  }

  .hero-heading,
  .about-heading {
    font-size: 3rem;
  }

  .hero-container {
    gap: 0;
  }

  .hero-img {
    height: 28rem;
  }

  /* day 96 */
  .hero-link-cta {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  .hero-link-cta a:link,
  .hero-link-cta a:visited {
    width: 100%;
  }
  .footer-cta {
    gap: 42px;
  }
  .link {
    height: 50px;
    width: 50px;
    border: 2px solid #fff;
  }
  .footer-heading {
    font-size: 3.2rem;
    color: #fff;
  }

  .footer-author p {
    font-size: 1.8rem;
    padding-top: 2vh;
  }
  .footer-link-box {
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
  }
  .link .fab {
    font-size: 22px;
  }
  .footer-author p {
    font-size: 2rem;
  }
}
